.ScoresItem {
    display: flex; /* Flexbox para organizar los elementos en fila */
    justify-content: space-between; /* Espaciado uniforme entre elementos principales */
    align-items: center; /* Centra los elementos verticalmente dentro de su contenedor */
    width: 90%; /* Ajusta el ancho del contenedor */
    background-color: #D2DBD6; /* Color de fondo */
    border-radius: 15px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    margin: 10px auto; /* Margen vertical y centrado horizontal */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para resaltar */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave en tamaño y sombra */

}

.ScoresItem:hover {
    transform: scale(1.05); /* Aumenta el tamaño en un 5% */
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); /* Incrementa la sombra para resaltar */
    cursor: pointer;
}

.ScoresItem div {
    display: flex; /* Flexbox para alinear el contenido dentro de cada sección */
    flex-direction: column; /* Alinea los elementos verticalmente dentro de cada bloque */
    align-items: flex-start; /* Alinea los textos al inicio */
    flex: 1; /* Hace que cada bloque ocupe el mismo espacio */
}

.ScoresItem div:last-child {
    align-items: flex-end; /* Alinea el último bloque (grupo) al final */
}

.ScoresItem p {
    font-weight: 300;
    font-size: large;
    margin: 2px 0; /* Espaciado mínimo entre los párrafos */
}