.GroupItem{
    display: flex; /* Cambié a flexbox para alinear los elementos horizontalmente */
    justify-content: space-between; /* Distribuye el espacio de manera uniforme entre los elementos */
    align-items: center; /* Centra los elementos verticalmente */
    width: 90%; /* El contenedor ocupará el 80% del ancho de la pantalla */
    height: auto; /* La altura se ajustará automáticamente según el contenido */
    background-color: #D2DBD6; /* Color de fondo */
    border-radius: 10px; /* Redondeo de las esquinas */
    padding: 10px 40px; /* Espacio alrededor de los elementos */
    margin: 10px /* Centra el contenedor en la pantalla */
}
button {
    background-color: #DB162F; /* Botón azul */
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
p {
    font-weight: 700; /* Hace el texto mucho más negrita */
    font-size: 18px; /* Tamaño de texto ajustado */
    margin-bottom: 10px; /* Espaciado entre los párrafos */
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    height: 80%;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/* Contenedor del formulario en formato grid */
.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
    gap: 20px; /* Espacio entre columnas y filas */
    margin-bottom: 20px;
}

.form-group label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; /* Asegura que ocupen todo el ancho de la columna */
}

/* Lista de estudiantes */
.students-list {
    border: 1px solid black;
    padding: 10px;
    max-height: 150px;
    overflow-y: auto;
    margin-top: 20px;
}

.students-list p {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

/* Botón de enviar */
.submit-btn {
    margin-top: 20px;
    background-color: #d32f2f;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}
