.login-container {
    background-color: #d1d4d3; /* Un tono más oscuro del fondo */
    padding: 2rem;
    border-radius: 10px;
    border: 2px solid #a9b0af; /* Bordes */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    width: 400px; /* Ancho fijo */
    text-align: center; /* Centra el texto y los elementos */
  }
  
  .login-container h2 {
    margin-bottom: 1rem;
    color: #333; /* Color del texto */
  }
  
  .form-group {
    margin-bottom: 1rem;
    text-align: left; /* Alinea las etiquetas a la izquierda */
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .form-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  


  .login-logo {
    display: block; /* Asegura que se trate como un bloque */
    margin: 0 auto; /* Centra horizontalmente */
    width: 150px; /* Ajusta el tamaño si es necesario */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-bottom: 3rem; /* Espacio debajo de la imagen */
  }

  button:hover {
   /* background-color: #0056b3; /* Azul más oscuro al pasar el mouse */
  }
  