


.home-page {
    height: 100vh; /* Ajusta la altura al tamaño de la ventana */
    width: 100%;
    display: flex;
    flex-direction: column; /* Estructura en columna */
    overflow: hidden; /* Elimina los scrolls automáticos */
}

.greeting-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 4rem;
    gap: 2rem;
    background-color: #ffffff;
    padding: 0 2rem;
}

.home-cont {
    height: 35rem;
    width: 100%;
    background-color: #D9D9D9;
}

.header-eng {
    position: sticky; /* Mantiene el header visible al desplazarse */
    top: 0;
    width: 100%;
    z-index: 1000;
}

.footer-eng {
    position: sticky; /* Mantiene el footer visible al desplazarse */
    bottom: 0;
    width: 100%;
    z-index: 100;
}



.content {
    flex: 1; /* Permite que este div ocupe el espacio restante */
    overflow-y: auto; /* Habilita el scroll vertical */
    padding: 20px;
}

button {
    background-color: #DB162F;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-family: "Poppins", serif;

}

.custom-combobox {
    position: relative;
    width: 250px;
}


select{
    width: 100%;
    padding: 12px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: "Poppins", serif;
}

option {
    font-family: "Poppins", serif;
}