
.home-page {
    height: 100vh; /* Ajusta la altura al tama침o de la ventana */
    width: 100%;
    display: flex;
    flex-direction: column; /* Estructura en columna */
    overflow: hidden; /* Elimina los scrolls autom치ticos */
}

.greeting-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 4rem;
    gap: 2rem;
    background-color: #ffffff;
    padding: 0 2rem;
}

.home-cont {
    height: 35rem;
    width: 100%;
    background-color: #D9D9D9;
}

.header-eng {
    position: sticky; /* Mantiene el header visible al desplazarse */
    top: 0;
    width: 100%;
    z-index: 1000;
}

.footer-eng {
    position: sticky; /* Mantiene el footer visible al desplazarse */
    bottom: 0;
    width: 100%;
    z-index: 100;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #F2F4F3;
    padding: 0px;
    box-sizing: border-box;
    white-space: nowrap;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: auto;
}



.content {
    flex: 1; /* Permite que este div ocupe el espacio restante */
    overflow-y: auto; /* Habilita el scroll vertical */
    padding: 20px;
}

button {
    background-color: #DB162F;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-family: "Poppins", serif;

}

.custom-combobox {
    position: relative;
    width: 250px;
}


select{
    width: 100%;
    padding: 12px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: "Poppins", serif;
}

option {
    font-family: "Poppins", serif;
}

.top-bar2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    background-color: #F2F4F3;
    padding: 0px;
    height: auto;
}

.Section-bar {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #F2F4F3;
    padding: 20px;
    box-sizing: border-box;
    white-space: nowrap;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: auto;
}
.SelectOption {
    display: flex;
    flex-direction: column; /* Coloca los elementos (p y select) en columna */
    align-items: center;    /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
 /* Fondo gris claro */
    padding: 20px;           /* Espaciado interno */
    border-radius: 8px;      /* Bordes redondeados */
    width: 300px;            /* Ancho del contenedor */
    margin: 0 auto;          /* Centrar horizontalmente en la p치gina */
  }
  
  .SelectOption p {
    margin-bottom: 10px;     /* Espaciado entre el texto y el select */
    font-weight: bold;       /* Negrita para el texto */
  }
  
  .custom-combobox select {
    padding: 10px;           /* Espaciado interno para el select */
    border: 1px solid #ccc;  /* Borde del select */
    border-radius: 5px;      /* Bordes redondeados */
    background-color: #fff;  /* Fondo blanco para el select */
    font-size: 16px;         /* Tama침o de fuente */
    width: 100%;             /* El select ocupa todo el ancho disponible */
  }
