.hdr-cont{
    display: flex;
    flex-direction: row; /* Los elementos se alinean en fila */
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    height: 6rem;
    gap: 2rem; /* Espaciado uniforme entre elementos */
    background-color: #f5f5f5; /* Opcional: fondo claro para el header */
    padding: 0 2rem; /* Agrega espacio interno */

}

.hdr-cont p{
    font-weight: 300;
    margin: 0; /* Elimina márgenes adicionales */
    cursor: pointer; /* Opcional: cambia el cursor para indicar interactividad */
    transition: color 0.3s; /* Suaviza cambios de color */
}

.eng-logo{
    width: 5rem; /* Ajusta el tamaño si es necesario */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-right: 2rem; /* Espaciado entre el logo y el texto */
    cursor: pointer;
}

.hdr-links{
    cursor: pointer;

}

.hdr-links:hover{
    color: #007bff; /* Cambia el color al pasar el mouse */

}

.hdr-links-logout{
    transition: color 0.3s; /* Suaviza cambios de color */
    cursor: pointer;
    

}
.hdr-links-logout:hover{
    color: red;
}